:root {
	--color-black: #000;
	--color-white: #fff;
	--color-dark: #333;
	--color-amethyst:#9D5CD0;
	--color-biloba: #D1A9F0;
	--color-heliotrope: #C283F3;
	--color-purple: #7943A4;
	--color-gray: #999999;
	--color-silver: #CACACA;

	--transition-time: .3s;
}
