.footer {
	padding: 48px 0 80px;
	background-color: #222;
	color: #CACACA;
}

.footer-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	height: 515px;
}

.footer-left-block__logo,
.footer-left-block__text,
.footer-left-block__icons {
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}

.footer-central-block {
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
	max-width: 572px;
	margin: 13px 20px 0 79px;
}

.footer-right-block {
	-webkit-box-ordinal-group: 4;
	    -ms-flex-order: 3;
	        order: 3;
	margin: 145px 16px 0 auto;
	max-width: 300px;
	font-weight: 600;
	font-size: 18px;
	line-height: 36px;
}


.footer-left-block__logo {
	-ms-flex-item-align: start;
	    -ms-grid-row-align: start;
	    align-self: start;
	margin-bottom: 7px;
}

.footer-left-block__text {
	max-width: 363px;
	margin: 0 auto 43px 0;
	line-height: 32px;
}

.footer-left-block__icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 230px;
}

.footer-left-block__icons__fb,
.footer-left-block__icons__vk,
.footer-left-block__icons__inst {
	display: block;
	width: 60px;
	height: 60px;
}

.footer-left-block__icons__fb {
	background: url("../img/fb-icon.svg") no-repeat 50% 50%;
}

.footer-left-block__icons__vk {
	background: url("../img/vk-icon.svg") no-repeat 50% 50%;
}

.footer-left-block__icons__inst {
	background: url("../img/instagram-icon.svg") no-repeat 50% 50%;
}

.footer-central-block__subtitle {
	margin-bottom: 19px;
}

.footer-central-block-form {
	padding-left: 3px;
}

.input {
	width: 100%;
	margin-bottom: 25px;
	padding: 14px 24px;
	line-height: 32px;
	background: #414141;
	color: #fff;
	border: none;
}

.footer-central-block-form__textarea {
	height: 150px;
	resize: none;
}

.footer-central-block-form__submit {
	margin: 2px 27px 0 0;
	padding: 21px 52px;
	font-weight: bold;
	background-color: #FF9900;
	color: #fff;
	border: none;
	cursor: pointer;
	-webkit-transition: background-color 500ms;
	transition: background-color 500ms;
}

.footer-central-block-form__submit:hover {
	background-color: rgba(255, 153, 0, 0.6);
}

.footer-central-block-form__label {
	display: inline-flex;
  align-items: center;
}

.footer-central-block-form__checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
  opacity: 0;
}

.footer-central-block-form__checkbox-text {
	position: relative;
}

.footer-central-block-form__checkbox-text::before {
	content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #CACACA;
  margin-right: 4px;
}

.footer-central-block-form__checkbox-text::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 14px;
	height: 14px;
	background: url("../img/checked.svg") no-repeat 50% 50%;
	opacity: 0;
}

.footer-central-block-form__checkbox:checked + .footer-central-block-form__checkbox-text::after {
	opacity: 1;
}

.footer-central-block-form__checkbox:focus + .footer-central-block-form__checkbox-text {
	outline: 2px solid #fff;
}
