.header {
	margin-bottom: 102px;
}

.first-bar {
	padding: 14px 0 15px 0;
	-webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.first-bar-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.first-bar__logo {
	margin-right: auto;
}

.first-bar__nav {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.first-bar-nav__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 7px;
	margin-right: 63px;
	font-size: 18px;
	font-weight: bold;
}

.first-bar-nav__item:not(:last-child) {
	margin-right: 71px;
}

.first-bar-nav__item:nth-child(3) {
	padding: 0 26.5px;
}

.first-bar-nav__link {
	padding-bottom: 4px;
	border-bottom: 2px solid #fff;
	-webkit-transition: border-color 500ms;
	transition: border-color 500ms;
}

.first-bar-nav__link:hover {
	border-color: #FF9900;
}

.first-bar-nav__link:focus {
	border-color: #FF9900;
}

.nav-form {
	position: relative;
	width: 38px;
	height: 34px;
	margin: 5px 5px 0 0;
}

.nav-form__input {
	display: none;
}

.nav-form__search-btn {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 4px 6px 0 6px;
	border: 0;
	background: transparent;
	cursor: pointer;
}

.nav-form__search-btn rect {
	-webkit-transition: fill 500ms;
	transition: fill 500ms;
	fill: #333;
}

.nav-form__search-btn circle {
	-webkit-transition: stroke 500ms;
	transition: stroke 500ms;
	stroke: #333;
}

.nav-form__search-btn:hover rect {
	fill: #FF9900;
}

.nav-form__search-btn:hover circle {
	stroke: #FF9900;
}

.nav-form__burger-btn {
	position: absolute;
	right: 0;
	z-index: 10;
	display: none;
	padding: 17px 19px;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.nav-form__burger-btn {
	color: #333333;
}

.nav-form__burger-line {
	position: absolute;
	right: 0;
	top: 45%;
	width: 80%;
	height: 3px;
	background-color: currentColor;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition: color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	transition: color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav-form__burger-btn::before,
.nav-form__burger-btn::after {
	content: "";
	position: absolute;
	right: 0;
	width: 80%;
	height: 3px;
	background-color: currentColor;
	-webkit-transition: top 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	transition: top 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav-form__burger-btn:hover {
	color: #FF9900;
}

.nav-form__burger-btn::before {
	top: 11%;
}

.nav-form__burger-btn::after {
	top: 70%;
}

.burger--active .nav-form__burger-line {
	color: #FF9900;
	-webkit-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger--active::before {
	top: 50%;
	color: #FF9900;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger--active::after {
	top: 50%;
	color: #FF9900;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	-webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.second-bar {
	min-height: 620px;
	color: #fff;
}

.swiper-container {
	height: 100%;
}

.second-bar-text {
	padding: 107px 45% 91px 79px;
}

.second-bar__slide-first {
	background: url("../img/background-img.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.second-bar__slide-second {
	background: url("../img/background-img1.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.second-bar__slide-third {
	background: url("../img/background-img2.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.swiper-pagination-bullet {
	margin-bottom: 15px;
}

.swiper-pagination-bullet:not(:last-child) {
	margin-right: 20px;
}

.second-bar__subtitle {
	margin-bottom: 17px;
	font-weight: 800;
	font-size: 70.3742px;
	line-height: 86px;
}

.second-bar__text {
	margin-bottom: 95px;
	font-weight: bold;
	font-size: 23.4581px;
	line-height: 29px;
}

.second-bar__link {
	display: inline-block;
	padding: 24px 38px;
	font-weight: bold;
	font-size: 23.4581px;
	line-height: 32px;
	background-color: #FF9900;
	-webkit-transition: background-color 500ms;
	transition: background-color 500ms;
}

.second-bar__link:hover {
	background-color: rgba(255, 153, 0, 0.6);
}
