.about-us {
	margin-bottom: 66px;

	&__subtitle {
		margin-bottom: 16px;
	}

	&__text {
		padding-right: 520px;
		font-weight: normal;
		font-size: 16px;
		line-height: 32px;
	}
}

.main-subtitle {
	font-weight: normal;
	font-size: 48px;
	line-height: 65px;
}
