.about-us {
	margin-bottom: 69px;

	@include xs {
		margin-bottom: 41px;
	}

	&__subtitle {
		margin-bottom: 16px;

		@include xs {
			margin-bottom: 11px;
		}
	}

	&__text {
		padding-right: 520px;
		font-weight: normal;
		font-size: 16px;
		line-height: 32px;

		@include lg {
			padding-right: 0;
		}

		@include xs {
			font-size: 14px;
			line-height: 28px;
		}
	}
}

.main-subtitle {
	font-weight: normal;
	font-size: 48px;
	line-height: 65px;

	@include xs {
		font-size: 28px;
		line-height: 38px;
	}
}
