.catalog {
	margin-bottom: 82px;

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 12px;
	}

	&__subtitle {
		margin-right: 30px;
	}

	&__btn {
		width: 66px;
		height: 66px;
		border: 2px solid transparent;
		border-radius: 100%;
		transition: border-color var(--transition-time);

		&--focused {
			border-color: var(--color-amethyst);
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			border-color: var(--color-amethyst);
		}

		&:not(:last-child) {
			margin-right: 26px;
		}

		&--fr {
			background: url("../img/icons/catalog-fr.png") no-repeat 50% 50%;
			background-size: 46px;
		}

		&--ge {
			background: url("../img/icons/catalog-ge.png") no-repeat 50% 50%;
			background-size: 46px;
		}

		&--it {
			background: url("../img/icons/catalog-it.png") no-repeat 50% 50%;
			background-size: 46px;
		}

		&--ru {
			background: url("../img/icons/catalog-ru.png") no-repeat 50% 50%;
			background-size: 46px;
		}

		&--bl {
			background: url("../img/icons/catalog-bl.png") no-repeat 50% 50%;
			background-size: 46px;
		}
	}

	&__middle {
		width: 68%;
		margin-bottom: 39px;
		font-weight: normal;
		font-size: 16px;
		line-height: 32px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
	}
}

.painter {
	max-width: 750px;
	animation: showBlock var(--transition-time);

	&--is-active {
		animation: showBlock2 var(--transition-time);
	}

	&__photo {
		height: 470px;
		margin-bottom: 31px;
	}

	&__subtitle {
		margin-bottom: 5px;
		font-weight: 600;
		font-size: 24px;
		line-height: 33px;
	}

	&__date {
		display: inline-block;
		margin-bottom: 7px;
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;
		color: var(--color-gray);
	}

	&__desc {
		line-height: 32px;
	}
}

.dates {
	width: 800px;

	&__subtitle {
		display: flex;
		align-content: flex-start;
		position: relative;
		padding: 38px 0 24px;
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		border-top: 1px solid #CACACA;
		border-bottom: 1px solid transparent;
		cursor: pointer;
		transition: border-color var(--transition-time);

		&--last {
			border-color: #CACACA;
		}
	}

	&__link-subtitle {
		display: inline-block;
		margin-right: auto;
		outline: 2px solid transparent;
		transition: outline var(--transition-time), color var(--transition-time);

		&:hover {
			color: var(--color-amethyst);
		}

		&:focus-visible {
			outline: 2px solid var(--color-amethyst);
		}
	}

	&__btn {
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		background-color: #ECECEC;
		border: 2px solid transparent;
		transform: translateY(-6px);
		transition: border-color var(--transition-time), background-color var(--transition-time);

		&:focus {
			outline: none;
		}

		&:focus-visible {
			border-color: var(--color-purple);
		}

		&:hover {
			background-color: var(--color-amethyst);
		}

		&:active {
			background-color: var(--color-purple);
			border-color: var(--color-biloba);
		}
	}

	&__svg {
		position: absolute;
		top: 43%;
		right: 23%;
		width: 24px;
		height: 12px;
		fill: none;
		stroke: currentColor;
		transition: transform var(--transition-time), stroke var(--transition-time);
	}

	&__columns {
		display: flex;
		padding: 26px 0 27px;
		font-weight: normal;
		font-size: 16px;
		line-height: 32px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		transition: border-color var(--transition-time);
	}

	&__column {
		display: flex;
		flex-direction: column;
		width: 208px;

		&:not(:last-child) {
			margin-right: 50px;
		}
	}

	&__painter {
		outline: 2px solid transparent;
		cursor: pointer;
		transition: outline var(--transition-time), color var(--transition-time), text-shadow var(--transition-time);

		&:hover {
			color: var(--color-amethyst);
		}

		&:focus-visible {
			outline: 2px solid var(--color-amethyst);
		}

		&--is-active {
			color: var(--color-amethyst);
			text-shadow: currentColor 0 0 5px;
		}
	}

	&__desc {
		display: none;
	}
}

.catalog-bottom {
	display: none;
	animation: showBlock 1s;

	&--active {
		display: flex;
	}
}

@keyframes showBlock {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes showBlock2 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.ui-state-active > .dates__btn > .dates__svg {
	transform: rotate(180deg);
}

.dates__btn:hover > .dates__svg {
	stroke: var(--color-white);
}

.ui-state-focus {
	outline: none !important;
}

.ui-accordion-content-active {
	border-color: var(--color-amethyst);
}
