.contacts {
	&__subtitle {
		margin-bottom: 15px;
	}

	&__wrapper {
		display: inline-flex;
		width: 100%;
	}

	&__left {
		padding: 122px 121px 122px 152px;
		border-top: 1px solid var(--color-silver);
		border-right: 1px solid var(--color-silver);
	}

	&__right {
		width: 100%;
	}


	&__room-name {
		display: inline-block;
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
	}

	&__address {
		margin-bottom: 35px;
		font-style: normal;
	}
}

.contacts-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 38px;

	&__text {
		margin-bottom: 16px;
		font-weight: normal;
		font-size: 24px;
		line-height: 32px;
	}

	&__label {
		position: relative;
	}

	&__input {
		width: 400px;
		padding: 3px 24px;
		font-weight: normal;
		font-size: 16px;
		line-height: 32px;
		border: 1px solid #333333;
		border-radius: 100px;
		transition: border-color var(--transition-time);

		&:focus {
			outline: none;
			border-color: var(--color-amethyst);
		}

		&--text {
			margin-bottom: 23px;
		}

		&--tel {
			margin-bottom: 22px;
		}
	}

	&__btn {
		padding: 15px 35px 15px 32px;
		opacity: 1;
		font-weight: bold;
		font-size: 18px;
		line-height: 25px;
		border-radius: 100px;
		border: 2px solid var(--color-amethyst);
		color: var(--color-amethyst);
		background-color: transparent;
		transition: background-color var(--transition-time), color var(--transition-time), border-color var(--transition-time), opacity var(--transition-time);

		&:hover {
			background-color: var(--color-amethyst);
			color: var(--color-white);
		}

		&:active {
			background-color: var(--color-purple);
			border-color: var(--color-biloba);
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			background-color: var(--color-amethyst);
			border-color: var(--color-purple);
			color: var(--color-white);
		}
	}
}

.contacts-socials {
	display: flex;
	flex-direction: column;

	&__text {
		margin-bottom: 15px;
		font-weight: normal;
		font-size: 24px;
		line-height: 32px;
	}

	&__messenger {
		display: inline-block;
		width: 39px;
		height: 39px;
		outline: 2px solid transparent;
		transition: outline-color var(--transition-time);

		&--wa {
			margin-right: 17px;
			background: url("../img/icons/whatsapp.svg") no-repeat 50% 50%;
		}

		&--tg {
			background: url("../img/icons/telegram.svg") no-repeat 50% 50%;
		}

		&:focus-visible {
			outline-color: var(--color-purple);
		}
	}
}

[class*="ground-pane"] {
	filter: grayscale(1);
}

.js-validate-error-label  {
	position: absolute;
	top: -17px;
	left: 25px;
	font-size: 14px;
}
