.footer {
	padding: 50px 0 43px;
	background-color: var(--color-black);

	&__container {
		display: flex;
		justify-content: space-between;
	}
}

.footer-socials {
	display: flex;
	justify-content: space-between;
	width: 175px;

	&__link {
		display: inline-block;
		width: 46px;
		height: 46px;
		outline: 2px solid transparent;
		transition: outline-color var(--transition-time);

		&--vk {
			background: url("../img/icons/vk.svg") no-repeat 50% 50%;
		}

		&--inst {
			background: url("../img/icons/instagram.svg") no-repeat 50% 50%;
		}

		&--fb {
			background: url("../img/icons/fb.svg") no-repeat 50% 50%;
		}

		&:focus-visible {
			outline-color: var(--color-purple);
		}
	}
}
