.nav-top {
	margin-right: auto;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: var(--color-white);

	&__list {
		display: flex;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 62.3px;
		}
	}

	&__link {
		outline: 2px solid transparent;
		transition: color var(--transition-time), outline var(--transition-time);

		&:hover {
			color: var(--color-heliotrope);
		}

		&:focus-visible {
			outline: 2px solid var(--color-purple);
		}

		&:active {
			color: var(--color-purple);
		}
	}
}
