.nav-bottom {
	margin-right: auto;
	padding: 23px 0 21.5px;
	font-size: 18px;
	line-height: 25px;
	color: var(--color-white);

	&__list {
		display: flex;
	}

	&__item {
		display: block;
		position: relative;

		&:not(:last-child) {
			margin-right: 98px;
		}
	}

	&__svg {
		position: absolute;
		top: 45%;
		right: 0;
		width: 11px;
		height: 7px;
	}

	&__link {
		padding-right: 15px;
		outline: 2px solid transparent;
		transition: color var(--transition-time), outline var(--transition-time);

		&:hover {
			color: var(--color-amethyst);
		}

		&:focus-visible {
			outline: 2px solid var(--color-purple);
		}

		&:active {
			color: var(--color-purple);
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			width: 11px;
			height: 7px;
		}
	}
}

.nav-bottom__link:hover::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% + 98px);
	height: 185%;
}

.svg--rotate {
	transform: rotate(-180deg);
}

.arrow {
	fill: none;
	stroke: currentColor;
	transition: stroke var(--transition-time), transform var(--transition-time);
}
