.nav-top {
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: var(--color-white);

	@include md {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		font-size: 5vh;
		line-height: normal;
		background-color: rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(15px);
		transform: none;
		transition: transform var(--transition-time);
		transform: translateX(-101%);
	}

	&__list {
		display: flex;

		@include md {
			flex-direction: column;
			align-items: center;
			height: 100%;
			justify-content: space-between;
			padding: 25px 0;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-right: 62.3px;

			@include lg {
				margin-right: 25px;
			}

			@include md {
				margin: 0;
			}
		}
	}

	&__link {
		outline: 2px solid transparent;
		transition: color var(--transition-time), outline var(--transition-time);

		&:hover {
			color: var(--color-heliotrope);
		}

		&:focus-visible {
			outline: 2px solid var(--color-purple);
		}

		&:active {
			color: var(--color-purple);
		}
	}
}

.nav-top--active {
	transform: none;
}
