.popup {
	visibility: hidden;
	position: absolute;
	top: 47px;
	left: 0;
	width: 300px;
	height: 300px;
	padding: 40px;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: opacity .3s, visibility .3s;

	&--active {
		visibility: inherit;
		opacity: 1;
		transition: opacity .3s;
	}

	&__item {
		position: relative;
		padding: 9px 12px 14px;
		width: 220px;
		height: 40px;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__link {
		display: inline-block;
		outline: none;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			outline: 2px solid transparent;
			transition: outline .3s, background .3s;
		}
	}
}

.popup__link:hover::after {
	outline: 2px solid var(--color-amethyst);
}

.popup__link:focus::after {
	outline: 2px solid var(--color-amethyst);
}

.popup__link:active::after {
	outline: 2px solid var(--color-biloba);
	background: rgba(194, 131, 243, 0.4);
}

.realism {
	&--first {
		background: url("/img/hero-link1.png") no-repeat;
	}

	&--second {
		background: url("/img/hero-link2.png") no-repeat;
	}

	&--third {
		background: url("/img/hero-link3.png") no-repeat;
	}

	&--fourth {
		background: url("/img/hero-link4.png") no-repeat;
	}

	&--fifth {
		background: url("/img/hero-link1.png") no-repeat;
	}

	&--sixth {
		background: url("/img/hero-link2.png") no-repeat;
	}

	&--seventh {
		background: url("/img/hero-link3.png") no-repeat;
	}

	&--eighth {
		background: url("/img/hero-link4.png") no-repeat;
	}

	&--ninth {
		background: url("/img/hero-link1.png") no-repeat;
	}

	&--tenth {
		background: url("/img/hero-link2.png") no-repeat;
	}

}

.impressionism {
	&--first {
		background: url("/img/hero-link5.png") no-repeat;
	}

	&--second {
		background: url("/img/hero-link6.png") no-repeat;
	}

	&--third {
		background: url("/img/hero-link7.png") no-repeat;
	}

	&--fourth {
		background: url("/img/hero-link8.png") no-repeat;
	}

	&--fifth {
		background: url("/img/hero-link5.png") no-repeat;
	}

	&--sixth {
		background: url("/img/hero-link6.png") no-repeat;
	}

	&--seventh {
		background: url("/img/hero-link7.png") no-repeat;
	}

	&--eighth {
		background: url("/img/hero-link8.png") no-repeat;
	}

	&--ninth {
		background: url("/img/hero-link5.png") no-repeat;
	}

	&--tenth {
		background: url("/img/hero-link6.png") no-repeat;
	}

}

.postimpressionism {
	&--first {
		background: url("/img/hero-link9.png") no-repeat;
	}

	&--second {
		background: url("/img/hero-link10.png") no-repeat;
	}

	&--third {
		background: url("/img/hero-link11.png") no-repeat;
	}

	&--fourth {
		background: url("/img/hero-link12.png") no-repeat;
	}

	&--fifth {
		background: url("/img/hero-link9.png") no-repeat;
	}

	&--sixth {
		background: url("/img/hero-link10.png") no-repeat;
	}

	&--seventh {
		background: url("/img/hero-link11.png") no-repeat;
	}

	&--eighth {
		background: url("/img/hero-link12.png") no-repeat;
	}

	&--ninth {
		background: url("/img/hero-link9.png") no-repeat;
	}

	&--tenth {
		background: url("/img/hero-link10.png") no-repeat;
	}

}

.vanguard {
	&--first {
		background: url("/img/hero-link13.png") no-repeat;
	}

	&--second {
		background: url("/img/hero-link14.png") no-repeat;
	}

	&--third {
		background: url("/img/hero-link15.png") no-repeat;
	}

	&--fourth {
		background: url("/img/hero-link16.png") no-repeat;
	}

	&--fifth {
		background: url("/img/hero-link13.png") no-repeat;
	}

	&--sixth {
		background: url("/img/hero-link14.png") no-repeat;
	}

	&--seventh {
		background: url("/img/hero-link15.png") no-repeat;
	}

	&--eighth {
		background: url("/img/hero-link16.png") no-repeat;
	}

	&--ninth {
		background: url("/img/hero-link13.png") no-repeat;
	}

	&--tenth {
		background: url("/img/hero-link14.png") no-repeat;
	}

}

.futurism {
	&--first {
		background: url("/img/hero-link17.png") no-repeat;
	}

	&--second {
		background: url("/img/hero-link18.png") no-repeat;
	}

	&--third {
		background: url("/img/hero-link19.png") no-repeat;
	}

	&--fourth {
		background: url("/img/hero-link20.png") no-repeat;
	}

	&--fifth {
		background: url("/img/hero-link17.png") no-repeat;
	}

	&--sixth {
		background: url("/img/hero-link18.png") no-repeat;
	}

	&--seventh {
		background: url("/img/hero-link19.png") no-repeat;
	}

	&--eighth {
		background: url("/img/hero-link20.png") no-repeat;
	}

	&--ninth {
		background: url("/img/hero-link17.png") no-repeat;
	}

	&--tenth {
		background: url("/img/hero-link18.png") no-repeat;
	}

}

.simplebar-track.simplebar-vertical {
	top: 40px;
	bottom: 40px;
	width: 2px;
	margin-right: 19px;
	background-color: var(--color-black);
}

.simplebar-scrollbar:before {
	right: 0;
	left: 0;
	border-radius: 0;
	background-color: var(--color-white);
	opacity: 1;
	transition: background-color .3s;
}

.popup:hover .simplebar-scrollbar:before {
	background-color: var(--color-amethyst);
	transition: background-color .3s;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
	opacity: 1;
}
