.publications {
	color: var(--color-white);
	background: url("../img/publishing.jpg") no-repeat 50%;

	&__container {
		display: flex;
		justify-content: space-between;
		padding-top: 82px;
		padding-bottom: 81px;
	}

	&__left {
		display: flex;
		flex-direction: column;
		width: 345px;
	}

	&__subtitle {
		margin-bottom: 15px;
	}

	&__form {
		display: flex;
		flex-direction: column;
	}

	&__right {
		width: 1150px;
		padding-top: 30px;
	}

	&__nav {
		margin-bottom: 29px;
	}
}

.category {
	display: flex;
	flex-direction: column;
	margin-bottom: 34px;

	&__main-name {
		margin-bottom: 7px;
		font-weight: bold;
		font-size: 16px;
		line-height: 32px;
	}

	&__label {
		&:not(:last-child) {
			margin-bottom: 14px;
		}
	}

	&__checkbox {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;
	}

	&__name {
		position: relative;
		display: inline-flex;
		align-items: center;
		outline: 2px solid transparent;
		cursor: pointer;
		transition: color var(--transition-time), outline-color var(--transition-time);

		&::before {
			content: '';
			display: inline-block;
			margin-right: 13px;
			width: 12px;
			height: 12px;
			border: 1px solid var(--color-white);
			transition: border-color var(--transition-time);
		}

		&::after {
			content: '';
			position: absolute;
			top: 40%;
			left: 0;
			transform: translateX(4px);
			width: 4px;
			height: 4px;
			background-color: var(--color-heliotrope);
			border-radius: 100%;
			opacity: 0;
			transition: opacity var(--transition-time);
		}
	}
}

.category__checkbox:checked + .category__name::after {
	opacity: 1;
}

.category__checkbox:checked + .category__name::before {
	border-color: var(--color-heliotrope);
}

.category__checkbox:checked + .category__name {
	color: var(--color-heliotrope);
}

.category__checkbox:focus-visible + .category__name {
	outline-color: var(--color-amethyst);
}

.price {
	&__main-name {
		display: inline-block;
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 16px;
		line-height: 32px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		width: 341px;
		height: 40px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 6px;
	}

	&__text {
		display: inline-block;

		&--from {
			padding-left: 18px;
			padding-right: 11px;
		}

		&--to {
			padding: 0 11px;
		}

		&--rubles {
			padding: 0 12px;
		}
	}

	&__input {
		width: 82px;
		height: 100%;
		padding-left: 10px;
		background-color: rgba(157, 92, 208, 0.5);
		color: var(--color-white);
		transition: background-color var(--transition-time);

		&::placeholder {
			color: var(--color-white);
		}

		&:focus-visible {
			outline: none;
			background-color: rgba(198, 161, 226, 0.5);
		}
	}
}

.publication {
	&__img {
		margin-bottom: 23px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		margin-bottom: 17px;
	}

	&__subtitle {
		margin-bottom: 2px;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
	}

	&__price {
		font-style: italic;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
	}

	&__btn {
		padding: 7px 20px;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		outline: 2px solid transparent;
		border: 2px solid var(--color-amethyst);
		border-radius: 100px;
		transition: background-color var(--transition-time), border-color var(--transition-time);

		&:focus {
			outline: none;
		}

		&:focus-visible {
			border-color: var(--color-biloba);
		}

		&:hover {
			background-color: var(--color-amethyst);
		}

		&:active {
			border-color: var(--color-biloba);
			background-color: var(--color-purple);
		}
	}
}
