html {
	box-sizing: border-box; /* Алгоритм, в котором свойства width и height задают размеры не содиержимого, а блока */
}

*,
*::before,
*::after {
	box-sizing: inherit; /* Насколько я понял, эта настройка позволяет применить по умолчанию компонент content-box в случае необходимости */
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans-semibold.woff2") format("woff2"), url("../fonts/opensans-semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* Основные правила для body, удаление ширины, отступов, настрока фона и шрифта */
body {
	margin: 0;
	padding: 0;
	font-family: "OpenSans", sans-serif;
	color: #000000;
	background-color: #fff;
}

h1,
h2,
h3,
h4,
p {
	font-weight: normal;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%; /* Максимальный размер изображений по тегу img не будет превышать 100% */
}

a {
	text-decoration: none; /* Удаляет все подчеркивания у ссылок */
	color: inherit; /* Наследование цвета шрифта из родительского блока */
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Визульное скрытие заголовков там, где их нет */
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

/* Настройка, отменяющая обтекание, используется для очищения плавающих элементов */
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* Центровщик */
.container {
  padding: 0 55px;
	margin: 0 auto;
}
