.catalog {
	padding-top: 81px;
	margin-bottom: 30px;

	@include sm {
		margin-bottom: 71px;
	}

	@include xs {
		margin-bottom: 52px;
	}

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 14px;

		@include xs {
			align-items: flex-start;
			flex-direction: column;
		}
	}

	&__subtitle {
		margin-right: 40px;

		@include xs {
			margin-bottom: 11px;
		}
	}

	&__btns {
		display: flex;

		@include sm {
			width: 100%;
			margin-bottom: 6px;
			justify-content: space-between;
		}
	}

	&__btn {
		position: relative;
		width: 46px;
		height: 46px;
		background-size: 100%;
		transition: filter var(--transition-time);

		@include xs {
			width: 32px;
			height: 32px;
		}

		&--focused {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				transform: translateX(-10px) translateY(-10px);
				width: 66px;
				height: 66px;
				background-color: transparent;
				border: 2px solid var(--color-amethyst);
				border-radius: 100%;

				@include xs {
					width: 44px;
					height: 44px;
					transform: translateX(-6px) translateY(-6px);
				}
			}
		}

		&:hover {
			filter: drop-shadow(0 0 8px rgba(157, 92, 208, 0.7));
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			border-color: var(--color-amethyst);
		}

		&:not(:last-child) {
			margin-right: 50px;

			@include sm {
				margin-right: 0;
			}
		}

		&--fr {
			background: url("../img/icons/catalog-fr.png") no-repeat 50% 50%;

			@include xs {
				background-size: 32px;
			}
		}

		&--ge {
			background: url("../img/icons/catalog-ge.png") no-repeat 50% 50%;

			@include xs {
				background-size: 32px;
			}
		}

		&--it {
			background: url("../img/icons/catalog-it.png") no-repeat 50% 50%;

			@include xs {
				background-size: 32px;
			}
		}

		&--ru {
			background: url("../img/icons/catalog-ru.png") no-repeat 50% 50%;

			@include xs {
				background-size: 32px;
			}
		}

		&--bl {
			background: url("../img/icons/catalog-bl.png") no-repeat 50% 50%;

			@include xs {
				background-size: 32px;
			}
		}
	}

	&__middle {
		width: 68%;
		margin-bottom: 40px;
		font-weight: normal;
		font-size: 16px;
		line-height: 32px;

		@include lg {
			width: 100%;
		}

		@include sm {
			margin-bottom: 20px;
		}

		@include xs {
			display: none;
		}
	}

	&__bottom {
		display: flex;

		@include sm {
			flex-direction: column;
		}
	}
}

.painter {
	max-width: 750px;
	width: 100%;
	margin-right: 50px;
	animation: showBlock var(--transition-time);

	@include lg {
		margin-right: 50px;
	}

	@include sm {
		width: 100%;
		margin-right: 0;
		order: 2;
	}

	@include xs {
		width: 100%;
	}

	&--is-active {
		animation: showBlock2 var(--transition-time);
	}

	&__photo {
		height: 470px;
		margin-bottom: 31px;

		@include md {
			height: 274px;
		}

		@include sm {
			width: 100%;
			height: 419px;
		}

		@include xs {
			width: 100%;
			height: 181px;
			margin-bottom: 21px;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
	}

	&__subtitle {
		margin-bottom: 5px;
		font-weight: 600;
		font-size: 24px;
		line-height: 33px;

		@include xs {
			margin-bottom: 10px;
		}
	}

	&__date {
		display: inline-block;
		margin-bottom: 7px;
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;
		color: var(--color-gray);
	}

	&__desc {
		line-height: 32px;

		@include xs {
			padding-right: 3px;
		}
	}
}

.dates {
	width: 100%;
	margin-bottom: 52px;

	@include sm {
		order: 1;
		margin-bottom: 51px;
	}

	&__subtitle {
		display: flex;
		align-content: flex-start;
		position: relative;
		padding: 38px 0 24px;
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		border-top: 1px solid #CACACA;
		border-bottom: 1px solid transparent;
		cursor: pointer;
		transition: border-color var(--transition-time);

		@include xs {
			padding: 20px 0;
			font-size: 18px;
			line-height: 32px;
		}

		&--last {
			border-color: #CACACA;
		}
	}

	&__link-subtitle {
		display: inline-block;
		margin-right: auto;
		outline: 2px solid transparent;
		transition: outline var(--transition-time), color var(--transition-time);

		&:hover {
			color: var(--color-amethyst);
		}

		&:focus-visible {
			outline: 2px solid var(--color-amethyst);
		}
	}

	&__btn {
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		background-color: #ECECEC;
		border: 2px solid transparent;
		transform: translateY(-6px);
		transition: border-color var(--transition-time), background-color var(--transition-time);

		@include xs {
			width: 30px;
			height: 30px;
			transform: translateY(0);
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			border-color: var(--color-purple);
		}

		&:hover {
			background-color: var(--color-amethyst);
		}

		&:active {
			background-color: var(--color-purple);
			border-color: var(--color-biloba);
		}
	}

	&__svg {
		position: absolute;
		top: 43%;
		right: 23%;
		width: 24px;
		height: 12px;
		transition: transform var(--transition-time), stroke var(--transition-time);

		@include xs {
			width: 14px;
			height: 7px;
		}
	}

	&__columns {
		display: flex;
		padding: 26px 0 27px;
		font-weight: normal;
		font-size: 16px;
		line-height: 32px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		transition: border-color var(--transition-time);

		@include xs {
			padding: 18px 0;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: space-between;
		width: 100%;
		height: 288px;
		padding-right: 9.4%;

		@include lg-max {
			height: 385px;
			padding-right: 0;
		}

		@include sm {
			height: 288px;
		}

		@include xs {
			height: 100%;
		}
	}

	&__painter {
		width: 208px;
		outline: 2px solid transparent;
		cursor: pointer;
		transition: outline var(--transition-time), color var(--transition-time), text-shadow var(--transition-time);

		@include md {
			width: auto;
		}

		&:hover {
			color: var(--color-amethyst);
		}

		&:focus-visible {
			outline: 2px solid var(--color-amethyst);
		}

		&--is-active {
			color: var(--color-amethyst);
			text-shadow: currentColor 0 0 5px;
		}
	}

	&__desc {
		display: none;
	}
}

.catalog-bottom {
	display: none;
	animation: showBlock 1s;

	&--active {
		display: flex;
	}
}

@keyframes showBlock {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes showBlock2 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.ui-state-active > .dates__btn > .dates__svg {
	transform: rotate(180deg);
}

.dates__btn:hover > .dates__svg {
	stroke: var(--color-white);
}

.ui-state-focus {
	outline: none !important;
}

.ui-accordion-content-active {
	border-color: var(--color-amethyst);
}

.catalog__btn--focused::after {
	opacity: 1;
}
